Package: net.malexmedia.sshtunnels
Name: SSHTunnels
Depends: 
Version: 0.0.4
Architecture: iphoneos-arm
Description: A pair of programs to babysit both ends of an SSH tunnel.
Maintainer: Alex Markley
Author: Alex Markley
Section: System
Tag: role::hacker
