Package: net.malexmedia.sshtunnels
Name: SSHTunnels
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Alex Markley
Author: Alex Markley
Section: System
Tag: role::hacker
